<template>
  <v-container
    fluid>
    <v-layout row justify-space-between>
      <v-flex xs10>
        <h2>Services to Open BD</h2>
      </v-flex>
      <v-flex xs2>
        <v-dialog v-model="dialog" max-width="500px">
          <template v-slot:activator="{ on }">
            <v-btn color="primary" dark class="mb-2" v-on="on">New Service</v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">
                {{ formTitle }}
              </span>
            </v-card-title>
            <v-card-text>
              <v-container grid-list-md>
                <v-layout wrap>
                  <v-flex xs12 sm6>
                    <v-text-field v-model="editedService.name" label="Name"></v-text-field>
                  </v-flex>
                  <v-flex xs12 sm6>
                    <v-text-field v-model="editedService.url" label="URL"></v-text-field>
                  </v-flex>
                  <v-flex xs12>
                    <v-textarea
                      v-model="editedService.description"
                      label="Describe"
                      text="editedService.description"
                    ></v-textarea>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="primary" flat @click="close">Cancel</v-btn>
              <v-btn color="primary" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex row>
        <v-data-table
          :headers="headers"
          :items="services"
          class="list-services">
          <template v-slot:items="props">
            <td>{{ props.item.name }}</td>
            <td>{{ props.item.url }}</td>
            <td>{{ props.item.description }}</td>
            <td class="text-xs-right">{{ props.item.status }}</td>
            <td class="text-xs-right">
              <v-icon
                small
                class="mr-2"
                @click="editService(props.item)">
                edit
              </v-icon>
              <v-icon
                small
                @click="destroyService(props.item)">
                delete
              </v-icon>
            </td>
          </template>
        </v-data-table>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  data() {
    return {
      dialog: false,
      editedIndex: -1,
      editedService: {
        id: '',
        name: '',
        url: '',
        description: ''
      },
      defaultItem: {
        name: '',
        url: '',
        description: ''
      },
      services: [],
      headers: [
        {
          text: 'Name',
          align: 'left',
          sortable: false,
          value: 'name'
        },
        {
          text: 'URL',
          align: 'left',
          sortable: false,
          value: 'url'
        },
        {
          text: 'Description',
          align: 'left',
          sortable: false,
          value: 'description'
        },
        {
          text: 'Status',
          align: 'right',
          value: 'status'
        },
        {
          text: 'Action',
          align: 'right',
          value: 'id'
        }
      ],
    }
  },
  methods: {
    ...mapActions('services', {
      getServices: 'findAll',
      createService: 'create',
      putService: 'update',
      deleteService: 'destroy'
    }),
    editService (item) {
      this.editedIndex = this.services.indexOf(item)
      this.editedService = Object.assign({}, item)
      this.dialog = true
    },
    destroyService (item) {
      const index = this.services.indexOf(item)
      confirm('Are you sure you want to delete this item?')
      this.deleteService(this.services[index])
      this.services.splice(index, 1)
    },
    close () {
      this.dialog = false
      setTimeout(() => {
        this.editedService = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      }, 300)
    },
    save () {
      if (this.editedIndex > -1) {
        this.putService(this.editedService).then((service) => {
          Object.assign(this.services[this.editedIndex], service)
        })
      } else {
        this.createService(this.editedService).then((service) => {
          this.services.push(service)
        })
      }
      this.close()
    }
  },
  created() {
    this.getServices()
      .then((services) => {
        this.services = services
      })
      .catch(error => this.error(error.message))
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Service' : 'Edit service'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  }
}
</script>
