<template>
  <v-app>
    <v-navigation-drawer
      app
      permanent
      v-model="isVisibleMenu"
      width="150"
      >
      <v-list dense class="pt-0">
        <!--
        <v-list-tile to="/">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'newArticle' }" v-if="$can('create', 'Article')">
          <v-list-tile-action>
            <v-icon>add_circle</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Add article</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        -->

        <!-- User connected -->
        <template v-if="isLoggedIn">
          <v-list-tile
            to="/news"
            title="News">
            <v-list-tile-action>
              <v-icon>new_releases</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>News</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            to="/books"
            title="Books">
            <v-list-tile-action>
              <v-icon>library_books</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Books</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            to="/users"
            title="Users">
            <v-list-tile-action>
              <v-icon>supervisor_account</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Users</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            to="/services"
            title="Services">
            <v-list-tile-action>
              <v-icon>apps</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Services</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            to="/tasks" title="Tasks">
            <v-list-tile-action>
              <v-icon>fastfood</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Crawler</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile @click="logout" title="Log out">
            <v-list-tile-action>
              <v-icon>power_settings_new</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>

        <!-- User disconnected
            @click="$router.push('/login')"
        -->
        <template v-else>
          <v-list-tile
            to="/"
            title="Log in">
            <v-list-tile-action>
              <v-icon>input</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Login</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-content>
      <v-toolbar>
        <v-btn icon @click="isVisibleMenu = !isVisibleMenu">
          <v-icon>menu</v-icon>
        </v-btn>
        <v-toolbar-title>Back Office for Open BD Project</v-toolbar-title>
      </v-toolbar>
      <v-container fluid fill-height>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-snackbar
      v-for="notification in notifications" :key="notification.id"
      :timeout="notification.timeout"
      :color="notification.type"
      top center
      @input="removeNotification(notification)"
      :value="true"
    >
      {{ notification.message }}
      <v-btn flat @click.native="removeNotification(notification)">&times;</v-btn>
    </v-snackbar>
  </v-app>
</template>

<script>
  import { mapActions, mapState, mapGetters } from 'vuex'

  export default {
    data: () => ({
      isVisibleMenu: true
    }),
    computed: {
      ...mapState('notifications', {
        notifications: 'stack'
      }),
      ...mapGetters(['isLoggedIn'])
    },
    methods: {
      ...mapActions('notifications', { removeNotification: 'remove' }),

      logout() {
        return this.$store.dispatch('logout')
          .then(() => {
            this.isVisibleMenu = false
            this.$router.replace('/')
          })
      },
      users() {
        console.info('Get users list')
      }
    }
  }
</script>
